* { margin:0;
     padding:0;
      box-sizing:border-box;
       font-family:sans-serif; }
body { background:#f0f2f5; display:flex; justify-content:center; padding-top:60px; min-height:100vh; }
.card { background:white; width:90%; max-width:400px; padding:25px; border-radius:15px; box-shadow:0 10px 25px rgba(0,0,0,0.1); }
h2 { text-align:center; }
.small { text-align:center; color:gray; font-size:13px; margin-bottom:15px; }
.input-area { display:flex; gap:8px; margin-bottom:15px; }
input { flex:1; padding:12px; border:1px solid #ddd; border-radius:8px; outline:none; }
#addBtn { padding:12px 18px; background:#111; color:white; border:none; border-radius:8px; cursor:pointer; }
ul { list-style:none; }
li { background:#f8f9fa; padding:12px; border-radius:8px; margin-bottom:8px; display:flex; justify-content:space-between; align-items:center; }
li.done { text-decoration:line-through; opacity:0.6; }
.bottom { display:flex; justify-content:space-between; margin-top:15px; font-size:14px; }
#clearBtn { background:none; border:none; color:red; cursor:pointer; }