* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb( 199, 199, 241);
}
.clock{
    font-size: 150px;
    font-family: 
    segoe ul variable,
    "segoe ul",
    sans-serif;
    font-weight: 300px;
    color: tomato
}

h3{
    margin-top: 2px;
    font-size: 30px;
    font-weight: 400;
    margin: 1px;
    display: contents;
}

.clock > span:last-child {
    font-size: 30px;
    color: orangered;
}